.overlay {
    position: fixed;
    background: rgba(0, 0, 0, .7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none; 
    z-index: 2;
}

.overlay.open {
    display: grid;
    align-items: center;
    justify-items: center;
}

.overlay-inner {
    background: white;
    width: 400px;
    padding: 20px;
  }

.close {
    background: none;
    color: black;
    border: 0;
    /* makes it not look like a button */
}