@font-face {
    font-family: aleoLight;
    src: url('fonts/Aleo-Light.ttf')
  }

body {
    background-image: url("images/jazz_club.jpg");
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: aleoLight;
}

main {
    grid-column: 2;
    width: 100%;
    justify-content: center;
    align-content: center;
    background: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.delete-button {
    display: none
}

.delete-button.open {
    display: block
}